<div class="grid justify-content-center flex-column align-items-center">
  <h3>
      <div style="margin:unset" class="col-12 call-out">
          <div class="flex align-items-center justify-content-center">



          </div>
      </div>
  </h3>

  <div class="col-12">
      <div class="grid justify-content-center">


          <div style="text-align: center" class="col-12">
              <div style="border:unset" class="card mb-0">
                  <p style="font-size: 22px">
                      Best in Class Ux with
                      <span style="color: var(--primary-color)">Gelato Relay </span>
                      experience
                  </p>


                  <h4>Welcome to GasLess DAO</h4>
                  <p style="margin: unset">with contract <a  href="https://goerli.etherscan.io/address/0xD72a2616ee95c62416C8EADd585fA9EbAbC92B4B#code" target="_blank">Gasless Porposing</a>
                  and <a  href="https://goerli.etherscan.io/address/0x6948A8F1565a7FcCa4a24F9033fd3E8d0737D636#code" target="_blank">Gasless Voting</a> using the brand new 
                  <a  href="https://relay.gelato.network/apps/de87da49-11b0-4947-a961-246ea23f250c" target="_blank">1Balance</a>
                  </p>

                  <div style="margin-top:30px">
                      <img height="70" src="assets/images/gelato.svg" />
                  </div>
                  <!-- <p style="margin: unset">You can </p> -->

              </div>
          </div>
      </div>
    </div>
</div>
